

.container-principal{
  background: #131518;
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* resize: both; */
  /* overflow: auto; */
  display: flex;

}

.container-minicard{
  /* padding: 80px; */
  display: flex;

}

.star-image{
  text-align: left;
  width: 20px;
  height: 20px;
  background: rgba(38, 46, 56, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:25px;
  padding:15px;
}

.star{
  width: 16px;

}



.miniCard {
  width: 412px;
  height: 416px;
  border-radius: 30px;
  color: white;
  /* background-color: rgba(35, 42, 52, 1); */
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* resize: both;
  overflow: auto;  */

}

.title-how{
  font-size: 28px;
  text-align: left;
  padding-left: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.text-content{
  font-size: 15px;
  color: #969FAD;
  /* position: absolute; */
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}
.numbers-list{
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-li{

  float: left;
  text-align: center;
  padding-top: 25px;
  width: 30px;
  height: 30px;
  background: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:7px;
  padding:10px;  
  color: white;

}

li{
  float: left;
  text-align: center;
  padding-top: 25px;
  width: 30px;
  height: 30px;
  background: rgba(38, 46, 56, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:7px;
  padding:10px;  
  color: rgba(124, 135, 152, 1);
}

li:hover{
  background-color: #969FAD;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

li:visited{
  background-color: orange;
}

button{
    border: none;
    padding: 15px;
    border-radius: 22px;
    background-color: rgba(252, 118, 20, 1);
    color: white;
    cursor: pointer;
    width: 341px;
    margin-top: 40px;
    letter-spacing: 4px;
    font-weight: bold;    
}

button:hover{
  color: orange;
  background-color: white;
}
    