
.container-principal{
  background-color: #131518;
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.phone-img{
  padding-top: 30px;
}


.miniCard {
  width: 412px;
  height: 416px;
  border-radius: 30px;
  color: white;
  background-color: rgba(35, 42, 52, 1);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;

}

.title-how{
  font-size: 28px;
  text-align: center;
  padding-right: 15px;
  /* padding-left: 30px; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}


.text-content{
  font-size: 15px;
  color: #969FAD;
  /* position: absolute; */
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}
.numbers-list{
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.msg-select{
    border: none;
    padding: 10px;
    border-radius: 22px;
    background-color: rgba(38, 46, 56, 1);
    color: orange;
    width: 180px;
    text-align: center;
    font-size: 15px;
    margin-left:105px;
}



